.about-section{
    color: white;
}

.about-heading{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 40px;
}

.project-content{
    width: 100%;
    height: auto;
    min-height: 10px;
    transition: 0.6s;
    opacity: 1;
}

.project-container{
    width: 450px;
    min-height: 50px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    background: white;
    transition: 0.4s;
    z-index: 10;
}

.content-head{
    color: #4C4C4C;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    font-size: 18px;
}

.hover-span{
    display: none;
    font-size: 20px;
    color: red;
    font-size: 20px;
    position: absolute;
    z-index: 1000
}


.project-image-container{
    height: 200px;
}

.project-container:hover {
    opacity: 0.2;
    z-index: 1;
}
.project-image{
    height: 154px;
    opacity: 1;
}

.project-container:hover span{
    display: block;
    z-index: 100;
}


.learn-more{
    border: 2px solid black;
    width: 90px;
    height: 20px;
    text-decoration: none;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}