.navbar{
    position: fixed;
    top:0;
    width: 100%;
}

body{
    margin: 0;
}

/* .nav-Container{
    position: fixed;
    top:0;
    width: 100%;
} */

.navbar ul {
    list-style: none;
    text-align: right;
}

.navbar ul li {
    color: white;
    font-size: 2em;
    padding-right: 20px;
    display: inline;
}

/* .main-section{
    height: 100vh;
    background-color: skyblue;
} */

.about-section{
    height: 100vh;
    background-color: #222323;
}

.contact-section{
    height: 95vh;
    background-color: #404040;   
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;

}

.contact-section hr{
    border-top: 1px solid black;
    margin: auto;
}

.contact-section h1{
    font-weight: normal;
    color: wheat;
}

.contact-section h2{
    color: white;
    font-weight: strong;
}

.contact-section h3{
    font-style: italic;
    font-weight: normal;
    color: wheat;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.contact-section a{
    color: #6BCAE2;
}
.contact-section p{
    font-size: large;
    color: white;
    padding: 10px;
}

.navbar > .active {
    border-bottom: 1px solid white;
  }

  /* .nav-Container > .active {
    border-bottom: 3px solid black;
  } */